.btn {
    margin-top: 10px;
    padding: 13px;
    border: none;
    border-radius: 8px;
    background: #6366f1;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: #4f46e5;
        transform: translateY(-2px);
        box-shadow: 0 10px 25px rgba(99, 102, 241, 0.4);
    }

    &:active {
        transform: translateY(0);
        box-shadow: none;
    }
}
