@use './button.scss';


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
}

html {
    background: #0f172a;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: #f1f5f9 !important;
  caret-color: #f1f5f9 !important;
  border: 1px solid #334155 !important;
  transition: background-color 5000s ease-in-out 0s;
}