* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
}

html {
    background: #0f172a;
    color: whitesmoke;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
